<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Client</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Blockchain Client</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Key Generator</a>
                    </li>
                    <li class="nav-item">
                        <a href="/write" class="nav-link">Write to Storage</a>
                    </li>
                    <li class="nav-item">
                        <a href="/read" class="nav-link">Read from Storage</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">key Generator</h4>
                    <p class="card-text">Click on the button below to generate your blockchain identity</p>
                    <input type="button" class="btn btn-primary btn-lg" id='generate_button' value="Generate Key for User">
                    <input type="button" class="btn btn-primary btn-lg" id='permission_button' value="Get Permission for User">
                </div>
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
          <label class="col-sm-2">Public Key:</label>
          <div class="col-sm-10">
            <textarea id="public_key" rows="5" class="form-control" readonly></textarea>
          </div>
        </div>

        <br>

        <div class="row">
          <label class="col-sm-2">Private Key:</label>
          <div class="col-sm-10">
            <textarea id="private_key" rows="5" class="form-control" readonly></textarea>
          </div>
        </div>

    <!-- Modal -->
    <div class="modal modal-alert fade" id="access_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header">
            <div class="modal-title col-md-10">Confirm transaction details, enter a blockchain node url and click on "Confirm Transaction" to finalize your transaction.</div>
            <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">

            <form id="confirmation_access_transaction_form">

                <div class="row">
                  <label class="col-sm-12">Sender Public Key:</label>
                  <div class="col-sm-12">
                    <input type="text" name="confirmation_sender_public_key" id="confirmation_sender_public_key" rows="2" class="form-control" readonly>

                  </div>
                </div>

            </form>

            <div class="row">
              <label class="col-sm-12">Blockchain Node URL:</label>
              <div class="col-sm-12">
                <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="http://127.0.0.1:5001">
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" id="button_confirm_write_transaction" class="btn btn-success">Confirm Transaction</button>
          </div>

        </div>

      </div>
    </div>

        <br>

        <div class="row" id="warning" style="display:none">
          <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
              IMPORTANT
              <ul>
                <li>Save you private and public keys. These keys cannot be recovered!</li>
                <li>Don't share your private key with anyone!</li>
              </ul>
            </div>
          </div>
        </div>

    </div>

    <!-- Alert Message for successful transaction -->
    <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Successful Transaction!</h4>
              <p>You successfully completed your transaction. It will be added to the next block.</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>

        </div>
      </div>
    </div>


    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>
    <script>
        $(function() {
            $('#generate_button').click(function() {
                $.ajax({
                    url: '/create_key',
                    type: 'GET',
                    success: function(response) {
                        document.getElementById("public_key").innerHTML = response['public_key'];
                        document.getElementById("private_key").innerHTML = response['private_key'];
                        document.getElementById("warning").style.display = "block";
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('#permission_button').click(function() {
                document.getElementById('confirmation_sender_public_key').value = document.getElementById('public_key').value;
                $('#access_modal').modal('show');
            });
            $('#button_confirm_write_transaction').click(function() {
                $.ajax({
                    url: document.getElementById('node_url').value + '/confirm_user/add',
                    type: 'POST',
                    dataType: 'json',
                    header: {'Access-Control-Allow-Origin': '*'},
                    data: $('#confirmation_access_transaction_form').serialize(),
                    success: function(response) {
                        $('#access_modal').modal('hide');
                        $('#success_transaction_modal').modal('show');
                    },
                    error: function(error) {
                        console.log(error);
                    }

                });
            });

        });

    </script>
</body>
</html>